<% if @article.errors.any? %>
<h2 class="text-center mb-4">The following errors prevented the article from getting created</h2>
<%= render 'shared/errors' %>
<% end %>
<div class="mx-auto">
  <div class=" mx-auto">
    <%= form_for @article, html: {class: "form-horizontal"} do |f| %>
      <div class="form-group">
        <div class="control-label font-weight-bold">
          <%= f.label :title %>
        </div>
        <div >
          <%= f.text_field :title, class: "form-control shadow p-3 bg-white rounded border-0", placeholder: "Title of article", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label font-weight-bold">
          <%= f.label :description %>
        </div>
        <div class="">
          <%= f.text_area :description, class: "form-control shadow p-3 bg-white rounded border-0", placeholder: "Body of article", autofocus: true, size: "120x12", rows: 10 %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2">
        <%= f.submit class: "btn btn-primary btn-lg" %>
        <%= link_to "Withdraw draft", articles_path, class: "btn btn-secondary btn-lg text-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>