<h1 class="text-center my-4">Article Nr. <%= @article.id %></h1>

<div class="card mx-auto w-100 my-5" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title"><%= @article.title %></h3>
      <p class="card-text"><%= @article.description %></p>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
      <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    </div>
  </div>
<%= link_to "BACK TO ALL ARTICLES", articles_path, class: "btn btn-primary" %>